/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-card-text);
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: var(--background-image);                  
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  border: 2px solid var(--accent-color);
  margin-block-start: 102px;
  margin-block-end: 104px;
  margin-inline: auto;
  width: clamp(696px,696px,100vw);
  margin-inline: minmax(100vw,372px) ;
  padding-block-start: 120px;
  padding-block-end: 25px;
  background-color: var(--background-color);
  text-align: center;
  font-family: var(--accent-font);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-block-start: 25px;
  font-size: 14px;
  text-align: left;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

/* ⇊ реализация движения стрелки в меню навигации ⇊ */

.theme-menu__button::before {
  content: '';
  padding: 0;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
} 

.theme-menu__button:disabled::before {
  content: '▶';
  animation: arrow_shift 1s infinite;
  animation-timing-function: ease-in-out;
  animation-duration: alternate;
  position: absolute;
  left: -100px;
} 

.theme-menu__item {
  position: relative;
}

@keyframes arrow_shift {
  0% {
    right: 0px;
  }
  50% {
    right: 4px;
  }
  100% {
    right: 0px;
  }
} 

/* ⇈ реализация движения стрелки в меню навигации ⇈ */

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 1s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  transition: width 300ms, background-color 1s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--accent-color);
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);

}

.card__img {
  width: 100%;
  position: relative;
}

.img__label {
  font-family: var(--accent-font);
  font-size: 14px;
  position: absolute;
  right: 5px;
  bottom: 1px;
  mix-blend-mode: hard-light;
  color: var(--accent-color);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FFF;
  text-shadow: 0px 0px 5px #FFF;
  opacity: 0.5;
  text-transform: uppercase;
  
}

.card_title {
  font-size: 18px;
  text-align: left;
  padding-inline-start: 10px;
}

.card__text {
  display: grid;
  gap: 27px;
  padding: 25px 25px 0px;
  font-size: 18px;
}

/*⇊ реалитзация кнопки like-button ⇊*/

.card__button {
  display: flex;
  gap: 12px;
  justify-content: end;
  align-items: center;
}

.card__like-button {
  border: none;
  background-color: transparent;
  border: 2px solid var(--accent-color) ;
  font-family: var(--accent-font);
  margin: 25px 25px 25px 0px;
  width: 130px;
  height: 38px;
  overflow: hidden;
  position: relative;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 3px 3px 0px var(--accent-color);
  transition: box-shadow 0.5s;
}

.card__like-button::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  position: absolute;
  left: 0px;
  top: 0px;
}

.card__like-button:hover::after {
  cursor: pointer;
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--buttom-like-text-color);
  mix-blend-mode: difference;
  cursor: pointer;
}

/* ⇈ реалитзация кнопки like-button ⇈ */

/* ⇊ реализация сердечка like-icon ⇊ */

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 34px;
  outline: 2px solid;
  color: transparent;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  color: var(--accent-color);
  transition: color 0.3s ease;
}

.like-icon {
  height: 100%;
}

.sparks {
  opacity: 0;
}

.core {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.3s;
}

.main-body {
  opacity: 0; 
  transition: opacity 0.3;
  transition-delay: 0.3s;
}

.like-icon.is-liked .contour {
  opacity: 1;
  transition: fill 0.3;
}

.like-icon:hover .core {
  opacity: 1;
  cursor: pointer;
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  opacity: 1;
  cursor: pointer;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  opacity: 1;
  transition-delay: 0s;
  fill: var(--heart-filling-color);
}

.like-icon:active .main-body {
  opacity: 1;
  transition-delay: 0.05s;
  fill: var(--heart-filling-color);
}

.like-icon.is-liked .core {
  opacity: 1;
  transition-delay: 0s;
  fill: var(--heart-filling-color);
}

.like-icon.is-liked .main-body {
  opacity: 1;
  transition-delay: 0.05s;
  fill: var(--heart-filling-color);
}

.like-icon.is-liked .contour {
  opacity: 1;
  transition-delay: 0.06s;
  fill: var(--heart-filling-color);
}

.like-icon.is-liked .sparks {
    animation: like-icon-sparks 0.3s ease-in 0.3s 1 normal;
}

@keyframes like-icon-sparks {
  0% {
    opacity: 0;
    }

  100% {
    opacity: 1;
    }
}

.like-icon.is-liked .heart {
   animation: heart-scale 0.3s ease-in 0.1s 1 normal;
   transform-origin: center;
}

@keyframes heart-scale {
  0% {
    transform: scale(1)
    }

  100% {
    transform: scale(1.5)
    }
}

.like-icon .main-body {
  transition-delay: 0s;
  transition: opacity 0s;
}

.like-icon .core {
  transition-delay: 0s;
  transition: opacity 0s;
}

/* ⇈ реализация сердечка like-icon ⇈ */

.footer__button {
  border: none;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  margin-block-start: 54px;
  font-size: 14px;
}

/* ⇊ реализация dialog ⇊ */

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.6);
} 

dialog {
  background-color: var(--background-color);
  border: none;
  outline: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 14px;
}

.dialog_button {
  background-color: var(--background-color);
  border: none;
  outline: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 14px;
}

/* ⇈ реализация dialog ⇈ */

@media (width <= 375px) {
  .header{
    width: 100vw;
  }

  .card__img {
    width: 100%;
  }
}