/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --font-weight-card-title: 700;
    --font-weight-card-text: 400;
    --background-color: #FFF;
    --accent-color: #000;
}